<div data-role="content">
    <img src="~/images/james_king.jpg" class="employee-pic" width="100" />
    <div class="employee-details">
        <h3>James King</h3>
        <p>President and CEO</p>
        <p>Boston, MA</p>
    </div>

    <ul data-role="listview" data-inset="true" class="action-list">
        <li><h4>Call office</h4><p>617-000-0001</p></li>
        <li><h4>Call cell</h4><p>781-000-0001</p></li>
        <li><h4>SMS</h4><p>781-000-0001</p></li>
        <li><h4>Email</h4><p>jking@fakemail.com</p></li>
    </ul>
</div>

