@*@using System.Data;
@model System.Data.DataSet


<ul data-role="listview" data-filter="true">
    
    @{foreach (DataRow dr in Model.Tables["emp"].Rows) {
        <li>
            <a href="~/Home/Update/@dr["id"]>
                <img src="~/images/@dr["picture"]">
                <h4>@dr["firstName"] @dr["lastName"]</h4>
                <p>@dr["title"]</p> <span class="ui-li-count">4</span>
            </a>
        </li>
            }
        }
</ul>*@

