@model test_0623_A.Models.employee
    <form method="post" action="">
        <input type="hidden" name="id" value="@Model.id">
        <div data-role="fieldcontain">
            <label for="firstName">First name:</label>
            <input type="text" id="firstName" name="firstName" value="@Model.firstName" />
        </div>
        <div data-role="fieldcontain">
            <label for="lastName">Last name:</label>
            <input type="text" id="lastName" name="lastName" value="@Model.lastName" />
        </div>
        <div>....</div>
        <div data-role="fieldcontain">
            <label for="email">E-mail:</label>
            <input type="text" id="email" name="email" value="@Model.email" />
        </div>


        <div class="ui-grid-a">
            <div class="ui-block-a"><input type="submit" name="btnOKCancel" value="OK" /></div>
            <div class="ui-block-b"><input type="submit" name="btnOKCancel" value="Cancel" /></div>
        </div>


    </form>
